<div class="content pt-4">
  <div class="row">
      <div class="d-flex">
        <% if @dog.photos.attached? %>
          <%= cl_image_tag @dog.photos.first.key, width: "350px", height: "350px", class: "feature-image" %>
        <% else %>
            <%= cl_image_tag "oaqj3leypeogevw59meqw9c2unba", width: "350px", height: "350px", class: "feature-image" %>
        <% end %>

        <div>
          <h1 class="ml-4 content-title"> <%= @dog.name %></h1>
          <div class="row ml-4 mb-3 dog-show-info">
            <div class="pl-0">
              <p class="text"><strong>Rasse:</strong> <%= @dog.race %></p>
              <p class="text"><strong>Alter:</strong> <%= age(@dog.birthdate) %></p>
              <p class="text"><strong>Größe:</strong> <%= @dog.size.capitalize %></p>
              <p class="text"><strong>Geschlecht:</strong> <%= @dog.gender %></p>
            </div>
          </div>
          <div class="dog-show-description">
            <p class="ml-4 text"> <%= @dog.description %> </p>
          </div>
        </div>
      </div>

        <div class="row w-100 mt-4">
          <div class="col-9">
            <% if @dog.photos.attached? %>
              <% @dog.photos.each do |photo| %>
                <%= cl_image_tag photo.key, width: "200px", height: "200px", class: "feature-image picture-grid" %>
              <% end %>
            <% else %>
                <%= cl_image_tag "oaqj3leypeogevw59meqw9c2unba", width: "350px", height: "350px", class: "feature-image" %>
            <% end %>

          </div>
          <div class="col-3 p-3 contact-form-card">
            <% @contact = Contact.new %>
            <%= render 'shared/contact_form' %>
          </div>

        </div>

  </div>

</div>
