

<div class="flori-navbar d-flex align-items-center">

  <div>
    <%= link_to root_path do  %>
      <%= cl_image_tag "Schriftzug_Farbe_cbruf3", width: "300px", class: "logo" %>
    <% end %>
  </div>

  <div class=" text-center div-links">
    <ul>
      <li><%= link_to "Home", root_path, class: "link #{ "link-active" if current_page?(root_path) }" %></li>
      <li><%= link_to "Wir über Uns", "#", class: "link" %> </li>
      <li><%= link_to "Das Team", team_path, class: "link #{ "link-active" if current_page?(team_path) }"  %></li>
      <li><%= link_to "Shelterbau", shelter_posts_path, class: "link"  %></li>
      <li><%= link_to "Helfen und Spenden", helfen_und_spenden_path, class: "link #{ "link-active" if current_page?(helfen_und_spenden_path) || current_page?(spenden_path) || current_page?(patenschaft_path) || current_page?(foerdermitgliedschaft_path) } "  %> </li>
      <li><%= link_to "Mitglied werden", mitglied_werden_path, class: "link #{ "link-active" if current_page?(mitglied_werden_path) }"  %></li>
      <li><%= link_to "Kontakt", new_contact_path, class: "link #{ "link-active" if current_page?(new_contact_path) }"  %></li>
      <li><%= link_to "Gedenken", "#", class: "link"  %></li>

      <li><%= link_to "Notfälle", notfaelle_path, class: "link #{ "link-active" if current_page?(notfaelle_path) }"  %></li>
      <li><%= link_to "Rüden", rueden_path, class: "link #{ "link-active" if current_page?(rueden_path) }"  %></li>
      <li><%= link_to "Hündinnen", huendinnen_path, class: "link #{ "link-active" if current_page?(huendinnen_path) }"  %></li>
      <li><%= link_to "Handicap Dogs", handicap_dogs_path, class: "link #{ "link-active" if current_page?(handicap_dogs_path) }"  %></li>
      <li><%= link_to "Unsere Angsthässchen", unsere_angsthaesschen_path, class: "link #{ "link-active" if current_page?(unsere_angsthaesschen_path) }"  %></li>
      <li><%= link_to "Katzen", "#", class: "link"  %></li>
      <li><%= link_to "Glücksfellchen Zuhause", gluecksfellchen_zuhause_path, class: "link #{ "link-active" if current_page?(gluecksfellchen_zuhause_path) }"  %></li>
    </ul>

  </div>
</div>
