

<div class="navbar d-flex justify-content-center">
  <%= link_to "Home", "#", class: "link"  %>
  <%= link_to "Über Uns", "#", class: "link"  %>
  <%= link_to "Das Team", "#", class: "link"  %>
  <%= link_to "Vermittlungsablauf", "#", class: "link"  %>
  <%= link_to "Patenschaften", "#", class: "link"  %>
  <%= link_to "Hunde auf PS in Deutschland", "#", class: "link"  %>
  <%= link_to "Welpen", "#", class: "link"  %>
  <%= link_to "Rüden", "#", class: "link"  %>
  <%= link_to "Hündinnen", "#", class: "link"  %>
  <%= link_to "Handicap Dogs", "#", class: "link"  %>
  <%= link_to "Last Home Dogs", "#", class: "link"  %>
  <%= link_to "Not-Fellis", "#", class: "link"  %>
  <%= link_to "Fellis grüßen ihre Paten", "#", class: "link"  %>
  <%= link_to "Helfen und Spenden", "#", class: "link"  %>
  <%= link_to "Mitglied werden", "#", class: "link"  %>
  <%= link_to "Wir bauen einen Shelter", "#", class: "link"  %>
  <%= link_to "Bildergallerie", "#", class: "link"  %>
  <%= link_to "Videos", "#", class: "link"  %>
  <%= link_to "Happy Soulis", "#", class: "link"  %>
  <%= link_to "Freunde", "#", class: "link"  %>
  <%= link_to "Satzung", "#", class: "link"  %>
  <%= link_to "Datenschutzerklärung", "#", class: "link"  %>
  <%= link_to "Haftungsausschluss", "#", class: "link"  %>
  <%= link_to "Kontakt", "#", class: "link"  %>
  <%= link_to "Impressung", "#", class: "link"  %>
</div>
