

<div class="flori-navbar d-flex align-items-center">

  <div>
    <%= link_to root_path do  %>
      <%= cl_image_tag "Schriftzug_Farbe_cbruf3", width: "300px", class: "logo" %>
    <% end %>
  </div>

  <div class=" text-center div-links">
    <ul>
      <li><%= link_to "Home", root_path, class: "link #{ "link-active" if current_page?(root_path) }" %></li>
      <li><%= link_to "Wir über uns", wir_ueber_uns_path, class: "link #{ "link-active" if current_page?(wir_ueber_uns_path) }" %> </li>
      <li><%= link_to "Das Team", team_path, class: "link #{ "link-active" if current_page?(team_path) }"  %></li>
      <li><%= link_to "News", news_posts_path, class: "link #{ "link-active" if current_page?(news_posts_path) }"  %></li>
      <li><%= link_to "Helfen und Spenden", spenden_path, class: "link #{ "link-active" if current_page?(spenden_path) || current_page?(patenschaft_path) || current_page?(foerdermitgliedschaft_path) }"%></li>
      <li><%= link_to "Mitglied werden", mitglied_werden_path, class: "link #{ "link-active" if current_page?(mitglied_werden_path) }"  %></li>
      <li><%= link_to "Kontakt", new_contact_path, class: "link #{ "link-active" if current_page?(new_contact_path) }"  %></li>
      <li><%= link_to "Gedenken", dead_dogs_path, class: "link"  %></li>

      <li><%= link_to "Notfälle", category_path(1), class: "link #{ "link-active" if current_page?(notfaelle_path) }"  %></li>
      <li><%= link_to "Rüden", category_path(2), class: "link #{ "link-active" if current_page?(rueden_path) }"  %></li>
      <li><%= link_to "Hündinnen", category_path(3), class: "link #{ "link-active" if current_page?(huendinnen_path) }"  %></li>
      <li><%= link_to "Handicap Dogs", category_path(4), class: "link #{ "link-active" if current_page?(handicap_dogs_path) }"  %></li>
      <li><%= link_to "Katzen", "#", class: "link"  %></li>
      <li><%= link_to "Glücksfellchen Zuhause", lucky_dogs_path, class: "link #{ "link-active" if current_page?(gluecksfellchen_zuhause_path) }"  %></li>
    </ul>
  </div>
</div>
