

<div class="flori-navbar d-flex align-items-center">

  <div>
    <%= link_to root_path do  %>
      <%= cl_image_tag "Schriftzug_Farbe_cbruf3", width: "300px", class: "logo" %>
    <% end %>
  </div>

  <div class=" text-center div-links">
    <ul>
      <li><%= link_to "Home", root_path, class: "link"  %></li>
      <li><%= link_to "Wir über Uns", "#", class: "link"  %></li>
      <li><%= link_to "Das Team", team_path, class: "link"  %></li>
      <li><%= link_to "Shelterbau", "#", class: "link"  %></li>
      <li><%= link_to "Helfen und Spenden", "#", class: "link"  %></li>
      <li><%= link_to "Mitglied werden", mitglied_werden_path, class: "link"  %></li>
      <li><%= link_to "Kontakt", new_contact_path, class: "link"  %></li>
      <li><%= link_to "Newsletter", "#", class: "link"  %></li>


      <li><%= link_to "Notfälle", "#", class: "link"  %></li>
      <li><%= link_to "Rüden", rueden_path, class: "link"  %></li>
      <li><%= link_to "Hündinnen", "#", class: "link"  %></li>
      <li><%= link_to "Handicap Dogs", "#", class: "link"  %></li>
      <li><%= link_to "Unsere Angsthässchen", "#", class: "link"  %></li>
      <li><%= link_to "Katzen", "#", class: "link"  %></li>
      <li><%= link_to "Glücksfellchen Zuhause", "#", class: "link"  %></li>
    </ul>

<!--     <%= link_to "Vermittlungsablauf", "#", class: "link"  %>
    <%= link_to "Patenschaften", "#", class: "link"  %>
    <%= link_to "Hunde auf PS in Deutschland", "#", class: "link"  %>
    <%= link_to "Welpen", "#", class: "link"  %>
    <%= link_to "Last Home Dogs", "#", class: "link"  %>
    <%= link_to "Not-Fellis", "#", class: "link"  %>
    <%= link_to "Fellis grüßen ihre Paten", "#", class: "link"  %>
    <%= link_to "Wir bauen einen Shelter", "#", class: "link"  %>
    <%= link_to "Bildergallerie", "#", class: "link"  %>
    <%= link_to "Videos", "#", class: "link"  %>
    <%= link_to "Happy Soulis", "#", class: "link"  %>
    <%= link_to "Freunde", "#", class: "link"  %>
    <%= link_to "Satzung", "#", class: "link"  %>
    <%= link_to "Datenschutzerklärung", "#", class: "link"  %>
    <%= link_to "Haftungsausschluss", "#", class: "link"  %>
    <%= link_to "Impressung", "#", class: "link"  %> -->
  </div>
</div>
