<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Kontaktanfrage zu <%= @contact.dog.name %> </h1>
    <p class="mb-0"> von <%= @contact.name %> </p>
    <p> - <%= @contact.email %> </p>
    <% if @contact.phone_number.present? %>
      <p> - <%= @contact.phone_number %> </p>
    <% end %>



    <p>
      <%= @contact.message %>
    </p>

  </body>
</html>
