<!DOCTYPE html>
<html>
  <head>
    <title>FloriAndFriends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <% unless current_page?(new_user_session_path)%>
    <div class="homepage-background" style='background-image: url("<%= cl_image_path('smt9jgb9djj9xdcuvx1t', :width=>"100px") %>");'>
    </div>
    <%= render 'shared/title-logo' %>
    <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
