<!DOCTYPE html>
<html>
  <head>
    <title>FloriAndFriends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <% unless current_page?(new_user_session_path)%>
      <div class="homepage-background" style='background-image: url("<%= cl_image_path('DSC_0141_whhjvp', :width=>"100px") %>");'></div>
      <%= render 'shared/navbar' %>
    <% end %>

    <div class="justify-content-center">
      <div>
        <h1 class="title text-center">Flori and Friends e.V</h1>

<!--         <% if user_signed_in? && current_user.admin == true %>
          <%= link_to "Admin", rails_admin_path, class: "btn btn-primary", style: "position: absolute; left: 670px; "  %>
        <% end %> -->

    </div>

    <div class="content-background">
      <%= yield %>
    </div>
  </div>

    <%= render 'shared/footer' %>
  </body>
</html>
